* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.nav-link {
  font-size: 1.6rem;
  &:hover {
    transform: scale(1.05);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  letter-spacing: 0.4px;
  padding: 0.5rem;
  color: #fff;
}

p {
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 3.5rem;
  font-weight: 600;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3rem;
  color: #f4400c;
}

li {
  font-size: 2.5rem;
  font-weight: bold;
}

@media screen and (min-width: 319px) and (max-width: 1024px) {
  h1 {
    font-size: 1.4rem;
  }
  h3,
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  li {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }
}
