@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './sizes';
@import './reset';
@import './form';

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #fff;

  img:hover {
    transform: scale(1.05);
  }
}

li.nav-item {
  a {
    img:hover {
      transform: scale(1.25);
    }
  }
}

a:hover {
  color: #f63e10;
  transform: scale(1.05);
}

.navbar {
  padding: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.get-the-app {
  background: url('../Material/img/get\ the\ app@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-platform {
  background-color: #f63e10;
  color: #fff;
  border-radius: 2rem;
  width: 170px;
  &:hover {
    color: #fff;
  }
}
